<%- include('header'); -%>
      <% if (!id) {%>
      <h1 class="text-default" >Xin chào khách đã đến với trang thông tin mới nhất về covid-19. Vui lòng đăng kí để nhận thông báo mới nhất từ chúng tôi </h1>
      <% } else if (id && id.token != null){ %>
        <h1 class="text-default" >Bạn chưa kích hoạt tài khoản.Vui lòng kiểm tra email</h1>
      <% } else { %>
      <h1 class="text-default" >Xin chào <strong><%= id.displayname %></strong> đã đến với trang web chúng tôi sẽ gửi thông tin covid mới nhất cho bạn vào <strong>6:00 AM</strong> </h1>
      <% } %>
     <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Tóm tắt</th>
                    <th scope="col">Link</th>
                    <th scope="col">Nguồn</th>
                    <th scope="col">Ngày đăng</th>
                  </tr>
                </thead>
                <tbody>
                <% for(var i = 0 ; i< display.length ; i++){%>
                  <tr>
                    <td><strong><%= display[i].title%></strong></td>
                    <td><%= display[i].content%></td>
                    <td><strong><a href="<%= display[i].link%>" target="_blank"><%= display[i].link%></a></strong></td>
                    <td><strong><%= display[i].source%></strong></td>
                    <td class="longDateFormat"><%= display[i].pubDate%></td>
                  </tr>
                  <% }%>
                </tbody>
              </table>
<%- include('footer'); -%>
<script>
   jQuery(function() {
      var longDateFormat  = 'dd/MM/yyyy HH:mm:ss';
      jQuery(".longDateFormat").each(function (idx, elem) {
          if (jQuery(elem).is(":input")) {
              jQuery(elem).val($.format.toBrowserTimeZone(jQuery(elem).val(), longDateFormat));
          } else {
              jQuery(elem).text($.format.toBrowserTimeZone(jQuery(elem).text(), longDateFormat));
          }
      });
  });
 </script>

 <script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
if(dd<10) {
  dd='0'+dd
} 

if(mm<10) {
  mm='0'+mm
} 

today = dd+'/'+mm+'/'+yyyy;
document.getElementById("date").innerHTML = today;
var myVar=setInterval(function(){myTimer()},1000);

function myTimer() {
    var d = new Date();
    document.getElementById("time").innerHTML = d.toLocaleTimeString();
}
 </script>